.header {
  min-height: 100vh;
}

.header__gutter {
  margin-right: 0px;
  margin-left: 0px;
}

.header__subtitle {
  font-weight: 300;
  color: theme-color("white") !important;
  font-size: 32px;
  margin-bottom: 8px;
}

.header__title {
  font-weight: 600;
  color: theme-color("white") !important;
  font-size: 52px;
  margin-bottom: 32px;
}

.header__quote {
  font-size: 16px;
  background: linear-gradient(to right, theme-color("primary") 0%, theme-color("info") 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color:transparent;
}

.header__circle-education {
  @include header__circle("info");
}

.header__circle-education--active {
  @include header__circle--active("info");
}

.header__circle-work {
  @include header__circle("primary");
}

.header__circle-work--active {
  @include header__circle--active("primary");
}

.header__circle-download {
  @include header__circle("warning");
}

.header__circle-download--active {
  @include header__circle--active("warning");
}

.header__circle-skills {
  @include header__circle("blue");
}

.header__circle-skills--active {
  @include header__circle--active("blue");
}

.header__circle-about {
  @include header__circle("danger");
}

.header__circle-about--active {
  @include header__circle--active("danger");
}