$theme-colors: (
  "dark": #171515,
  "dark-grey-1": #2C2C2C,
  "dark-grey-2": #231F20,
  "grey":  #d6d5d5,
  "white":#fff,
  "primary": #09D760,
  "info": #00E0FF,
  "danger": #FF005C,
  "warning": #EFC100,
  "blue": #005DFF
);

$transition-function: cubic-bezier(0.4, 0.0, 0.2, 1);
$transition-speed: 0.2s;

$darken-factor: 5%;